.App {
  color: blue;
}

ul {
  list-style-type: none;
}

.without-dependencies {
  color: orange;
}

.caret::after {
  content: "\25B6";
  display: inline-block;
  margin-right: 6px;
  transform: rotate(90deg);
}
